@*
    model ASP.NET.ViewModels.RandomKsiazkaViewModel
*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Projekt zaliczeniowy ASP.NET - Adam Zabrocki, Arkadiusz Dempc, Dawid Kryszłowicz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Wywolujemy nasz partial view - naglowek-->
    @Html.Partial("_NavBar") <!-- Model.Ksiazka) -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Projekt zaliczeniowy ASP.NET - Adam Zabrocki, Arkadiusz Dempc, Dawid Kryszłowicz</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
