@model ASP.NET.ViewModels.FormularzKlienta
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nowy wypożyczający</h2>

@*
    model klient
    target action- Create w kontrolerze Customers disposed method
    wyrażenia lambda wskazują na nazwę wartości modelu wykorzystanym w tym formularzu
    wykorzystując metodę pomocniczą TextBoxFor, ASP.MVC automatycznie wspiera walidację dla tego pola
    @using (Html.BeginForm("Save", "Customer", FormMethod.Post, new { @class = "formularz" }))


*@

@using (Html.BeginForm("Save", "Customer"))

{
    @Html.ValidationSummary(true, "Popraw błędy.")
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <label for="Name">Imię i nazwisko</label>
              
                @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Customer.Name)
             
            </div>

        </div>

        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <label for="Email">Adres e-mail</label>
                @Html.TextBoxFor(m => m.Customer.Email, new { @type = "email", @class = "form-control" })
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <label for="Numer">Numer telefonu</label>
                @Html.TextBoxFor(m => m.Customer.Numer, new { @type = "number", @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <label for="Miasto">Miasto</label>
                @Html.TextBoxFor(m => m.Customer.Miasto, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <label for="Kod_pocztowy">Kod pocztowy</label>
                @Html.TextBoxFor(m => m.Customer.Kod_pocztowy, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <label for="Ulica">Ulica</label>
                @Html.TextBoxFor(m => m.Customer.Ulica, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <label for="Dom">Numer domu/mieszkania</label>
                @Html.TextBoxFor(m => m.Customer.Dom, new { @value = "24", @min = "0", @max = "100", @step="1",  type = "range", @class = "form-control" })
                
            </div>
        </div>

       
        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <label for="MembershipTypeId">Typ Czytelnika</label>
                @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Nazwa"), "Wybierz typ czytelnika", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
            </div>
        </div>
            <div class="col-sm-12 col-md-12">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed to Newsletter?
                    </label>
                </div>
            </div>
       @Html.HiddenFor(m => m.Customer.Id)
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>

}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}