@model IEnumerable<ASP.NET.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista wypożyczających</h2>
<p>
    @Html.ActionLink("Nowy Wypożyczający", "Nowy", "Customer", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Imię i Nazwisko</th>
                <th>Typ czytelnika</th>
                <th>E-mail</th>
                <th>Numer telefonu</th>
                <th>Miasto</th>
                <th>Kod Pocztowy</th>
                <th>Ulica</th>
                <th>Nr Mieszkania/Domu</th>

             
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edytuj", "Customer", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Nazwa</td>
                    <td>@customer.Email</td>
                    <td>@customer.Numer</td>
                    <td>@customer.Miasto</td>
                    <td>@customer.Kod_pocztowy</td>
                    <td>@customer.Ulica</td>
                    <td>@customer.Dom</td>



                </tr>
            }

        </tbody>
    </table>
}

